
/**/
html, body, div, span, iframe, h1,h2, h3, h4, h5, h6, p, 
blockquote, pre, a, address, big, cite, code, del, em, font, 
img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, 
ul, li, fieldset, form, label, legend {
margin: 0;
padding: 0;
font-size: 100%;
font-family: sans-serif;
}

div{word-break: break-all;}
canvas{
    min-width:600;
    margin: auto;
}
.logo {
	text-align:left;
	font-size:12px;
	font-family: tahoma;
	color:#333;
	width: 1050px;
	margin: 10px auto 20px auto;
}
/*主框架*/
#header, #container, #footer {
    margin-left: auto;
    margin-right: auto;
    /*border: 2px solid #eec3c3;*/
}
#header {
    margin: 0px auto 10px auto;
}
#container {
    width: 1050px;
    min-height: 600px;
    border-radius: 10px 10px 0 0;
    box-shadow: #202936 0px 0px 10px 0px;
    text-align: center;
}
#footer {
    margin: 10px auto 0 auto;
}
/**
 *     网页头部样式
 */
/*导航栏*/
#nav{
    min-width: 1050px;
    height:50px;
    background: #325DA7;
    background: -moz-linear-gradient(top,#4E78C2,#325DA7);
    background: -webkit-linear-gradient(top,#4E78C2,#325DA7);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#4E78C2),color-stop(1,#325DA7));
    background: linear-gradient(top,#4E78C2,#325DA7);
    color: #FFF;
}
#menu{
    width:1050px;
    margin:auto;
    height:100%;
    
}
#menu ul li a{
    text-decoration: none;
}

#menu ul li{
    display:block;
    float: left;
    padding: 12px 20px 12px 20px;
    border-left: 1px solid #98ADC1;
    border-right: 1px solid #98ADC1;
    position: relative;
    list-style: none;
    height:100%;
}
.menuHover{
    background-color: #FFFFFF;
}
.menuitem:link, .menuitem:visited {
	display: block;
	font-weight: bold;
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	
	width: 125px;
	padding: 4px;
	text-decoration: none;
}
.menuitem:active {
	background-color: #FFFFFF;
}

.menuitem{
    color:#FFFFFF;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
}
/*隐藏栏*/
.submenu{
    background-color: #F5FFFA;
    position: absolute;
    padding:5px 20px 30px 10px;
    top:49px;
    left:-1px;
    min-width: 180px;
    display: none;
    z-index: 10000;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}
.submenu dl{
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E0E0;
}
.submenu dl dt, dt a{
    padding-top:10px;
    color: #369;
    font-size: 15px;
    line-height: 20px;
}
.submenu dl dd, dd a{
    margin:0 2px 0 2px;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
}

/*图片框*/
#promo{
    width: 1050px;
    overflow: hidden;
    position: relative;
    margin:20px 0 20px 0;
    
}
.promo-item{
    width:0;
    float: left;
    overflow: hidden;
    position: relative;
}
.promo-chart{
    width: 1050px;
    height: 450px;
}
.promo-tip{
    width:100%;
    margin:auto;
    background-color:#CCCCCC;
    opacity:0.5;
    display:none;
    position:absolute;
    bottom: 0;
}
.promo-item div{
    overflow: hidden;
    float: left;
}

#last-chart{
    display:none;
    width:70px;
    height:70px;
    cursor:pointer;
    overflow:hidden;
    background:url("../images/left_arrow.png") no-repeat;
    position: absolute;
    left: 0;
    top: 165px;
    z-index: 10000;
}
#next-chart{
    display:none;
    width:70px;
    height:70px;
    cursor:pointer;
    overflow:hidden;
    background:url("../images/right_arrow.png") no-repeat;
    position: absolute;
    right: 0;
    top: 165px;
    z-index: 10000;
    opacity: 0.5;
}
#chart-pages{
    display:block;
    margin:0 auto;
    width:100px;
}
.pages-item{
    float:left;
    border-radius:3px;
    width: 8px;
    margin:8px 8px 8px 8px;
    padding:0;
    overflow:hidden;
    display:block;
    height: 8px;
    background: #CCC;
}

/* 用户生命周期展示 */
#allUserBehaviour{
    width: 100%;
    border:1px solid #b3b3b3;
    margin: 10px auto 10px auto;
}


/* 底部 */
#footer{
    text-align: center;
}
#footer hr{
    width: 1050px;
    color:#CCC;
}
#links{
    font-size: 1em;
}
#links a:link, #links a:visited{
    text-decoration: none;
    color: #666;
    padding:2px 3px 2px 3px;
}
#copyrights{
    font-size: 0.95em;
    color: #665
}
#links a{
	font-size:16px;
	font-family: STHeiti,"Microsoft Yahei","微软雅黑",Arial,sans-serif;
}
#copyrights{
	font-size:14px;
	font-family: STHeiti,"Microsoft Yahei","微软雅黑",Arial,sans-serif;
}
/* 回到首部  */
#gotop,#feedback{
    background: #37A19E url(../images/gotop.gif) no-repeat -52px 0;
    width:52px;
    height:52px;
    text-align: center;
    font-size: 0.1px;
    line-height:1000px;
    overflow: hidden;
}
a#feedback { background-position: -52px -53px;}
a#gotop:hover { background-position: 0 0;}
a#feedback:hover { background-position: 0 -53px; }

/*图片放大*/
#shade{
	border: 1px solid #FF0000;
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #000;
	filter: alpha(opacity:50);
	opacity: 0.5;
}
.new-image {
	background: #fff;
	padding: 3px;
	position: absolute;
	z-index: 2;
	display: none;
	filter: alpha(opacity:0);
	opacity: 0;
	text-align: center;
}

/*关闭按钮*/
#bottom {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	margin: 0 0 0 -107px;
	border: 1px solid #232323;
	padding: 1px;
	z-index: 1;
	display: none;
}
#bottom ul {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	background: #000;
}
#bottom li {
	
	float: left;
	display: inline;
	margin: 8px 0 0 18px;
	cursor: pointer;
}
#bottom img {
	width: 31px;
	height: 33px;
	text-align:center;
}

/* 对话框 */
#dialogDiv{
    background-color:#eef2f7;
    display: none;
    position: fixed;
    max-width: 400px;
    border: 2px solid #66666;
    z-index: 100000;
}
.dialogHead{
    background-color:#0099CC;
    width: 100%;
    text-align: center;
    font-family: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height:30px;
    color: #536376;
    
}
.dialogBody{
    padding: 15px 20px 15px 20px;
    border-bottom: 2px solid #FCFCFC;
    margin-bottom: 5px;
}
.dialogFoot{
    width: 100%;
}
.dialogBtn{
    background-color:#6699CC;
    float: right;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #FEFEFE;
    box-shadow: 0px 0px 2px #365073;
    text-align: center;
    color: #FEFEFE;
    margin: 2px 4px 2px 4px;
    width: 80px;
    line-height:25px;
    margin: 1px 2px 1px 2px;
    
}
.dialogBtn:hover{
    line-height:25px;
    background-color:#336699;
    float: right;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #FEFEFE;
    box-shadow: 0px 0px 2px #365073;
    text-align: center;
    color: #FEFEFE;
    margin: 2px 4px 2px 4px;
    width: 80px;
}
/* 对话框的选项 */
.optionalBox h2{
    font-size: 14px;
}
.optionalItem {
    line-height: 18px;
    font-size: 11px;
    border-radius: 3px;
    background-color: #CCFFCC;
    float: left;
    padding: 2px;
    border: 1px solid #ECECEC;
    cursor: pointer;
}
.selectedItem{
    background-color: #99CCCC;
}

